[[extend 'layout.html']]


<body style="background-color: #484848;">
</body>

<!--dicord 1:https://images4.alphacoders.com/121/1216476.jpg-->
<!--library 1: http://i0.hdslb.com/bfs/article/e33c67ffb2040a66289370a7fbf723b51b03e2fa.jpg-->

<!--div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-end">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="EmuLogo2.png" alt="Logo" width="50" height="50">
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
      </div>
      
    </div>
  </nav>
</div-->


<section class="hero is-dark">

  <a href="[[=URL('chat', signer=url_signer)]]" class="button is-success">Go to Chat</a>

  <div class="hero-body" style="background-image: 
  url('Library1.jpg'); 
  background-size:100%;
  background-attachment: fixed;">

    <div class="container">
      <!--div class="notification is-dark"-->
        
        <p style="font-size:120px;margin-left:50px;margin-bottom:-60px">

          <strong>Emu</strong>
          
        </p>

        <p style="font-size:120px;margin-left:100px;margin-bottom:30px">
          <strong>Match</strong>
        </p>

        <p style="font-size:30px;margin-left:150px;">
          Online Matchmaking for All
        </p>
        
      <!--/div-->
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li>
            <a>Overview</a>
          </li>
          <li>
            <a>Mod1</a>
          </li>
          <li>
            <a>Mod2</a>
          </li>
          <li>
            <a>Mod3</a>
          </li>
          <li>
            <a>Mod4</a>
          </li>
          <li>
            <a>Mod5</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</section>

<section class="hero" style="background-color: #484848;">
  <div class="hero-body">
    <div class="container">
      <p class="has-text-white">
        Thanks to stuff like emulators there are a lot of games people play that have online play but only through private room codes. This means there's no matchmaking and it'll be hard to find others to play with. The idea is that this website solves this, allowing people to "queue up" for these games and find others trying to play, then providing some kind of chat space to share room codes if needed. It's sort of like smashladder.com if your familiar with that but for any game. There are two main parts to the project. 

First is the actual matchmaking. Users, after signing up, can go to the "Games" section and queue up for a game. Here they will be taken to a waiting screen until a match is made. From there, users will be taken to a chatroom where they can discuss everything needed to get the match started. 

Second is the community feature. Users can both sign up for communities for games that they are interested in to discuss whatever they'd like as well as make communities for games that are not already on the site, allowing for both matchmaking and community building.
      </p>
    </div>
  </div>
</section>

<section class="hero is-dark">
  <div class="hero-body">
    <p class="title has-text-centered has-text-warning">
      <a href="[[=URL('rooms')]]">Let's join the game</a>
    </p>
    
  </div>
</section>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->

<script src="js/index.js"></script>
[[end]]

