[[extend 'layout.html']]

<div class="section">
  <p class="title">Lobby for [[=game_name]]</p>
  <p class="subtitle">Playing against [[=opponent]]</p>
</div>

<style>
  [v-cloak] {
    display: none;
  }
  /* Custom styling for chat bubble */
  .chat-bubble {
    border-radius: 15px;
    padding: 10px;
    background-color: #eeae25;
    margin: 10px 0;
    color: #000000; /* Set all text inside the chat bubble to black */
  }
  .chat-bubble strong {
    color: #000000; /* Override the color of the email to black */
  }
  .chat-bubble small {
    color: #000000; /* Override the color of the time to black */
  }
</style>

<div class="section" id="vue-target" v-cloak>
  <h1 class="title">Lobby Chat</h1>

  <!-- MP: Show Chat -->
  <div v-for="c in chat_list" class="box">
    <article class="media">
      <div class="media-content">
        <div class="content chat-bubble">
          <p>
            <strong>{{c.email}}</strong> <small> {{c.time}}</small>
            <br>
            {{c.chat}}
          </p>
        </div>
      </div>
    </article>
  </div>
  
  <!-- MP: Add Chat -->
  <div class="block">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" v-model="new_chat" placeholder="Enter your message here"/>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <button class="button is-primary" @click="add_chat(new_chat)">Submit</button>
  </div>

  <!-- RV: Leave Lobby -->
  <button class="button is-danger" @click="close_lobby()">Report Loss</button>

</div>

<!-- MP: Chat Urls and Script -->
[[block page_scripts]]
<script>
  let add_chat_url = "[[=XML(add_chat_url)]]";
  let get_chat_url = "[[=XML(get_chat_url)]]";
  let check_lobby_url = "[[=XML(check_lobby_url)]]";
  let close_lobby_url = "[[=XML(close_lobby_url)]]";
</script>
<script src="js/chat.js"></script>
[[end]]
